:root{
    --orange-text-color-500: #FF7506;
}

.container > h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--orange-text-color-500);
    margin: 0;
}