:root {
    --orange-text-color-500: #FF7506;
    --orange-row: #FFF2E7;
    --orange-line: #FFE3CD;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 80%;
    height: 40%;
    left: 224px;
    top: 244px;
}

.device-list {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.device-list th,
.device-list td {
    padding: 10px;
    text-align: left;
}

.device-list th:nth-child(1),
.device-list th:nth-child(2) {
    width: 100px;
}

.device-list th:nth-child(3) {
    width: 200px;
}

.device-list th:nth-child(4),
.device-list th:nth-child(5) {
    width: 200px;
}

.device-list th:nth-child(6) {
    width: 400px;
}

.device-list td:nth-child(6) {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.device-list th:nth-child(7),
.device-list th:nth-child(8) {
    width: 100px;
}

.device-list td:not(:first-child, :last-child),
.device-list th:not(:first-child, :last-child) {
    border-right: 2px solid var(--orange-line);
    border-left: 2px solid var(--orange-line);
}

.device-list th:first-child {
    border-top-left-radius: 5px;
}

.device-list th:last-child {
    border-top-right-radius: 5px;
}

.device-list td:first-child {
    border-bottom-left-radius: 5px;
}

.device-list td:last-child {
    border-bottom-right-radius: 5px;
}

.device-list th {
    background-color: var(--orange-text-color-500);
    color: #fff;
}

.device-list tr:nth-child(even) {
    background-color: var(--orange-row);
}

.device-list tr:nth-child(odd) {
    background-color: #fff;
}

.device-list button {
    display: block;
    border: none;
    color: #4277FF;
    cursor: pointer;
    background-color: transparent;
    text-decoration-line: underline;
}

.dot {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
}

.dot-green {
    background-color: green;
}

.dot-red {
    background-color: red;
}